<div class="container">
    <h2>Tạo cổ phiếu mới</h2>
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label for="name">Tên cổ phiếu:</label>
        <input id="name" type="text" formControlName="name" class="form-control">
        <p *ngIf="f['name'].invalid && f['name'].touched" class="error">
          Name không được để trống.
        </p>
      </div>


      <div class="form-group">
        <label for="code">Mã cổ phiếu:</label>
        <input id="code" type="text" formControlName="code" class="form-control">
        <p *ngIf="f['code'].invalid && f['code'].touched" class="error">
          Mã ghi số hoặc chữ in hoa.
        </p>
      </div>


      <div class="form-group">
        <label for="price">Giá cổ phiếu:</label>
        <input id="price" type="number" formControlName="price" class="form-control">
        <p *ngIf="f['price'].invalid && f['price'].touched" class="error">
          Giá không được nhỏ hơn 0.
        </p>
      </div>


      <div class="form-group">
        <label for="exchange">Sàn giao dịch:</label>
        <select id="exchange" formControlName="exchange" class="form-control">
          <option value="" disabled>Chọn sàn giao dịch</option>
          <option value="HOSE">HOSE</option>
          <option value="HNX">HNX</option>
          <option value="UPCOM">UPCOM</option>
        </select>
        <p *ngIf="f['exchange'].invalid && f['exchange'].touched" class="error">
          Vui lòng chọn sàn giao dịch.
        </p>
      </div>


      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="confirm">
          Xác nhận thông tin trên là chính xác
        </label>
        <p *ngIf="f['confirm'].invalid && f['confirm'].touched" class="error">
          Vui lòng xác nhận thông tin.
        </p>
      </div>


      <button type="button" (click)="onSubmit()">Create</button>

      <button type="button" (click)="stockForm.reset({ confirm: false })">Reset Form</button>


    </form>


  </div>
